<main class="main">
  <!-- <mat-toolbar> </mat-toolbar> -->

  <section class="content">
    <button
      class="filter-btn"
      mat-fab
      aria-label="Відкрити фільтр"
      (click)="onFilterToggle()"
    >
      <span class="material-symbols-outlined">
        {{ isFilterExists() ? "filter_alt" : "filter_alt_off" }}</span
      >
    </button>

    @if(isShowFilter()) {
    <app-filter
      class="filter"
      [(filter)]="filter"
      (closeChanges)="onFilterToggle()"
    />
    } @if(selectedGroup()) {
    <app-group-details
      class="group-details"
      [(group)]="selectedGroup"
      (closeChanges)="onCloseGroupDetails()"
    />
    }

    <div class="map">
      <app-map [(selectedGroup)]="selectedGroup" [filter]="filter()" />
    </div>
  </section>
</main>
