<div class="map-view__map map">
  @if (isApiLoaded$ | async) {
  <google-map #mapRenderer [options]="mapOptions">
    @for(date of data(); track date.date) { @for(group of date.groups; track
    group.name) {
    <div>
      <map-advanced-marker
        #markerElem="mapAdvancedMarker"
        [position]="{ lat: group.coords.lat, lng: group.coords.lng }"
        (mapClick)="selectedChanges(group)"
        [options]="getMarkerOptions(date.date, group)"
      />
    </div>
    } }
  </google-map>

  }
</div>
