@use "@angular/material" as mat;

@include mat.core();

$markers-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

@mixin group-details-theme($palette) {
  .mat-mdc-card,
  .mat-mdc-table tbody {
    background: mat.get-theme-color($palette, surface);
  }
}

@mixin custom-components-theme($theme) {
  @include group-details-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($markers-theme);
  @include custom-components-theme($markers-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
